@import "tailwindcss";

@theme {
  --color-gray-750: #2d3748;
}

body {
  background-color: #111827; /* gray-900 */
  color: #f3f4f6; /* gray-100 */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevenir selecciones o zoom al tocar rápido en móviles */
button {
  touch-action: manipulation;
  user-select: none;
}
